[Unit]
Description=Speech Timer Stream Deck Controller
After=network.target speech-timer.service
Wants=speech-timer.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/speech-timer-pi
Environment="PATH=/home/pi/speech-timer-pi/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/pi/speech-timer-pi/venv/bin/python /home/pi/speech-timer-pi/streamdeck_controller.py
Restart=on-failure
RestartSec=10
# Falls Stream Deck nicht angesteckt: Service wartet ohne CPU zu fressen.
# Daher kein StartLimit konfigurieren.

[Install]
WantedBy=multi-user.target
